Client/Service References/ServiceReference1/IStockMarket1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getStockValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStockValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStockValueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setStockValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setStockValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setStockValueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="putStockValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="putStockValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="putStockValueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dumpStockValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dumpStockValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dumpStockValueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>